/*albums CSS*/
albums-container {
    position: relative;
    width: 100%;
    top: 0;
    transition: all 0.5s;
}
albums-container .album {
    width: 250px;
    height: 250px;
    display: inline-block;
    opacity: 0.8;
    position: relative;
    margin: 30px 25px;
    cursor: pointer;
}

albums-container .album:focus {
    outline:none
}

albums-container .album:hover {
    opacity: 0.7;
}

albums-container .album .playButton {
    display: none;
    position: absolute;
    font-size: 5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

albums-container .album:hover .playButton {
    display: inline-block;
}

albums-container .album img {
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    transition: all 0.5s;
    box-shadow: 15px 15px 30px rgba(30, 18, 84, 0.55);
    border: 2px solid #4527A0;
    transform: translate(-50%, 0);
}

albums-container .album .album-title {
    display: inline-block;
    width: 320px;
    text-align: center;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 20px;
    color: rgba(120, 93, 168, 0.47);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(69, 39, 160, 0.07);
}

/*toolbar CSS*/
toolbar .search-input-label {
    color: white;
}

md-dialog {
    padding: 15px;
    width: 500px;
}

/*forms CSS*/
#new-album-form .preview-image img {
    height: 200px;
    width: 200px;
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid #cb91e9;
    border-radius: 15px;
}

#new-album-form .preview-image {
    height: 200px;
    width: 200px;
    position: absolute;
    right: 27px;
    border-radius: 15px;
    top: 98px;
    border: 1px solid white;
    font-size: 25px;
    font-weight: bold;
    background: #af8bcd;
    color: darkgray;
    text-align: center;
    line-height: 200px;
}

#new-album-form .preview-image:before {
    content: 'Preview Image';
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
}

#new-tracks-form md-input-container {
    margin-top: 25px;
    margin-bottom: 0;
}

/*musicPlayer CSS*/
#music-player {
    position: absolute;
    display: block;
    height: 300px;
    width: 700px;
    border-radius: 150px;
    background-color: rgba(70, 44, 85, 0.4);
    text-align: center;
    left: 50%;
    top: -450px;
    transform: translate(-50%, 0);
}

#music-player .music-player-image {
    display: inline-block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 25px;
    right: 175px;
    position: relative;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#music-player .music-player-image.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}

#music-player .play-button-container {
    background-color: white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: inline-block;
    top: 36%;
    left: 17%;
    position: absolute;
}

#music-player .play-button {
    display: block;
    position: absolute;
    font-size: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#music-player .playing-album-container {
    position: absolute;
    display: inline-block;
    margin: 25px;
    right: 40px;
}

#music-player .playlist-container {
    height: 150px;
    width: 250px;
    overflow: auto;
    border-radius: 3px;
}

#music-player .playlist-track {
    display: block;
    height: 25px;
    width: 50px;
    margin: 3px;
    border: 1px solid black;
}

#music-player .playlistTrack a {
    background-color: #1c162d;
    color: lightgrey;
    display: block;
    height: 25px;
    width: 50px;
}

#music-player .closeButton {
    font-size: 40px;
    left: 240px;
    bottom: 50px;
    position: relative;
}
