<section id="music-player" layout="row" layout-align="start center">
    <img flex class="music-player-image" ng-class="{paused: audioPaused}" ng-src="{{$root.playingAlbum.album_image}}">
    <div class="play-button-container">
        <i class="fa fa-play play-button" ng-if="audioPaused"></i>
        <i class="fa fa-pause play-button" ng-if="!audioPaused"></i>
    </div>
    <i class="fa fa-close closeButton" ng-click="closePlayer()"></i>
    <div class="playing-album-container">
        <audio ng-src="{{audioSource}}" autoplay controls></audio>
        <h4>NOW PLAYING: {{$root.playingAlbum.playlist[$root.playedTrackIndex].song_title | uppercase}}</h4>
        <h5>{{$root.playingAlbum.album_artist | uppercase}}</h5>
        <md-list class="playlist-container">
            <md-list-item ng-repeat="track in $root.playingAlbum.playlist" ng-click="playSong(track)">
                <i class="fa fa-play" ng-if="$index === $root.playedTrackIndex && audioPaused"></i>
                <i class="fa fa-pause" ng-if="$index === $root.playedTrackIndex && !audioPaused"></i>
                <span ng-if="!($index === $root.playedTrackIndex)">{{$index + 1}}</span>: {{track.song_title}}
            </md-list-item>
        </md-list>
    </div>
</section>