<form name="newTracksForm" id="new-tracks-form" novalidate>
	<h3>Add New Tracks To The Album!</h3>
	<md-divider></md-divider>
	<md-content layout="row" layout-align="center center" layout-fill layout-margin ng-repeat="track in playlist">
		<strong> track no' {{$index}}:</strong>
		<md-input-container flex>
			<label>Track Name:</label>
			<input type="text" name="{{$index}}-trackName" ng-model="track.song_title" ng-required="track.song_url || $first">
			<div ng-messages="newTracksForm[$index+'-trackName'].$error">
				<div ng-message="required">Required if a track url is entered or only track in the list!!</div>
			</div>
		</md-input-container>
		<md-input-container flex>
			<label>Track Url:</label>
			<input type="url" name="{{$index}}-trackUrl" ng-model="track.song_url" ng-required="track.song_title || $first" ng-pattern="tracksRegExp">
			<div ng-messages="newTracksForm[$index+'-trackUrl'].$error">
				<div ng-message="required">Required if a track name is entered or only track in the list!</div>
				<div ng-message="url">This needs to be a url!</div>
				<div ng-message="pattern">This needs to be a valid mp3 url!</div>
			</div>
		</md-input-container>
	</md-content>
	<md-button class="md-raised md-primary" ng-click="addNewTrack()">Add More Songs</md-button>
	<span flex></span>
	<md-button class="md-raised md-primary" ng-disabled="newTracksForm.$invalid" ng-click="formValidated()">Submit!</md-button>
</form>